.underlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 125vh;
  bottom: -50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  cursor: none;
  z-index: index($absoluteElements, underlay);
  
  @include mappy-bp(med){
    display: block;
  }

  img {
    position: absolute;
    width: 90%;
    height: auto;
  }
}


/////// SECTION /////////




/////// HEADER MAIN /////////

nav.nav__main {
  padding: 0 1em;
  transition: $primaryTransition;
}

nav.nav__main ul {

  a {
    transition: $primaryTransition;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $thirdColor;
    letter-spacing: -0.08em;
    border-bottom: 3px solid $transparent;
    margin: 1em 0;

    @include mappy-bp('large'){
      font-size: 2.5em;
      margin: 2em 0;
    }

    &:hover {
      border-bottom: 3px solid $fourthColor;
    }

    a.active {
      background: orange;
    }
  }

}

.header__main.reduce {

  background: $fourthColor;

  nav.nav__main {
    display: none;
    @include mappy-bp(med) {
      display: flex;
    }

    a {
      font-size: 1.6em;
      margin: 0.3em 0;
      color: $white;

      &:hover {
        border-bottom: 3px solid $white;
      }
      @include mappy-bp(med) {
        margin: 1em 0;
      }
    }

    li.active {
      background: $white;
      a {
        color: $thirdColor;
        text-decoration: none;
      }
    }
  }
}



  .box__references {
    background: $gradientWhite;
    position: relative;
    padding: 2em;
    border-radius: $borderRadius;
    width: 85%;
    max-width: 450px;
    box-shadow: $boxShadow;

    p {
      margin: 0 0 0.1em 0;
    }
  }
  //
  //.profile-photo__reference {
  //  @include mappy-bp(med){
  //    position: absolute;
  //    top: -65px;
  //    left: -65px;
  //  }
  //}

  .box__ribbon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    img {
      position: absolute;
      top: -8px;
      left: -8px;
    }

    .box__ribbon__caption {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 110px;
      height: 110px;
      left: -8px;
      top: -8px;
      font-size: 2.5em;
      color: $white;
      font-family: $primaryFont;
      text-align: center;
      transform: rotate(-45deg);
    }
  }


  .profile-photo__about-me {
    width: 50vw;
    height: 50vw;

    @include mappy-bp(med){
      width: 25vw;
      height: 25vw;

    }
  }

  .section__header {
    background: $fourthColor;
    padding: 0.2em;
  }

  .column {
    margin: 1em 0;
  }

  strong {
    background: $fourthColor;
    color: $secondaryColor;
  }

  .about-me {
    max-width: 1000px;
  }

  .about-me__anthony {
    cursor: pointer;
    position: relative;
  }

  .work-life {
    position: absolute;
    display: -webkit-box;
    display: flex;
    top: -70px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    height: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 500px;
    left: -210px;

    span {
      margin-right: 0.4em;
    }

    span.work, span.life {
      color: lighten($secondaryColor, 10%);
    }

    span.work {
      font-family: $primaryFont;
    }

    span.life {
      font-family: $cursiveFont;
    }
  }

  .about-me__click {
    position: absolute;
    display: block;
    right: 0;
    width: 350px;

    p {
      margin-top: -70px;
      margin-left: 50px;
      font-family: $cursiveFont;
      line-height: 1em;
      text-align: right;
      color: lighten($secondaryColor, 10%);
      transform: rotate(-10deg);
    }
  }

  .about-me__elements .profile-photo {
    background-size: 125%;
    width: 180px;
    height: 180px;
  }

  //////////////// PIE CHART //////////////////

figure {
  background: none;
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:16px;
  font-size:1vw;
  width: 40em;
  padding-bottom: 40em;
}

.pie-chart__center-img {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pie__caption {
  position: absolute;
  z-index: 2;
  color: $white;
  width: 25%;

  h4 {
    line-height: 1.5em;
  }
}

.pie1__caption {
  right: 3%;
  top: 35%;
}

.pie2__caption {
  left: 20%;
  top: 65%;
}

.pie3__caption {
  left: 10%;
  top: 30%;
}
.pie4__caption {
  left: 25%;
  top: 8%;
}

svg.pie-chart {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  animation: pie1 2s infinite ease both;
  animation-iteration-count: 1;
}

$pie-chart__hue: 10;

.pie1 {
  stroke:hsl($pie-chart__hue,70%,30%);
}
.pie2 {
  stroke:hsl($pie-chart__hue,70%,50%);
  animation-name: pie2;
}
.pie3 {
  stroke:hsl($pie-chart__hue,70%,20%);
  animation-name: pie3;
}
.pie4 {
  stroke:hsl($pie-chart__hue,0%,70%);
  animation-name: pie4;
}
/*
 pie percentage made by stroke-dasharray.
 stroke-dasharray format is...

 keyframe 100% : 0 offset this-percentage rest

 I added keyframe 50% for infinite presentation.
*/

/* 1st pie is 40% */
@keyframes pie1 {
  50%,100% {stroke-dasharray: 50,50,0,0;}
}
/* 2nd pie is 30% */
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,50,20,30;}
}
/* 3rd pie is 30% */
@keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
@keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}
