.underlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 125vh;
  bottom: -50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  cursor: none;
  z-index: index($absoluteElements, underlay);
  
  @include mappy-bp(med){
    display: block;
  }

  img {
    position: absolute;
    width: 90%;
    height: auto;
  }
}


/////// SECTION /////////




/////// HEADER MAIN /////////

nav.nav__main {
  padding: 0 1em;
  transition: $primaryTransition;
}

nav.nav__main ul {

  a {
    transition: $primaryTransition;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $thirdColor;
    letter-spacing: -0.08em;
    border-bottom: 3px solid $transparent;
    margin: 1em 0;

    @include mappy-bp('large'){
      font-size: 2.5em;
      margin: 2em 0;
    }

    &:hover {
      border-bottom: 3px solid $fourthColor;
    }

    a.active {
      background: orange;
    }
  }

}

.header__main.reduce {

  background: $fourthColor;

  nav.nav__main {
    display: none;
    @include mappy-bp(med) {
      display: flex;
    }

    a {
      font-size: 1.6em;
      margin: 0.3em 0;
      color: $white;

      &:hover {
        border-bottom: 3px solid $white;
      }
      @include mappy-bp(med) {
        margin: 1em 0;
      }
    }

    li.active {
      background: $white;
      a {
        color: $thirdColor;
        text-decoration: none;
      }
    }
  }
}



  .box__references {
    background: $gradientWhite;
    padding: 2em;
    border-radius: 12px;
    width: 85%;
    max-width: 450px;

    p {
      margin: 0 0 0.1em 0;
    }
  }
  //
  //.profile-photo__reference {
  //  @include mappy-bp(med){
  //    position: absolute;
  //    top: -65px;
  //    left: -65px;
  //  }
  //}

  .profile-photo__about-me {
    width: 50vw;
    height: 50vw;

    @include mappy-bp(med){
      width: 25vw;
      height: 25vw;

    }
  }

  .section__header {
    background: $fourthColor;
    padding: 0.2em;
  }

  .column {
    margin: 1em 0;
  }

  strong {
    background: $fourthColor;
    color: $white;
  }

  .about-me {
    max-width: 1000px;
  }


  .work-life {
    position: absolute;
    display: -webkit-box;
    display: flex;
    top: -30px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    height: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 280px;
    left: -120px;

    span.work {
      font-family: $primaryFont;
    }

    span.life {
      font-familty: $cursiveFont;
    }
  }