* {
  box-sizing: border-box;
}

///////////////////////////////////////////////////////////
///-------------------- ICONS ------------------------ ///
//////////////////////////////////////////////////////////

.fa {
  margin: 0 0.2em;
  color: $thirdColor;
}


///////////////////////////////////////////////////////////
///-------------------- TYPOGRAPHY ------------------- ///
//////////////////////////////////////////////////////////

::selection {
  color: $primaryColor;
  background: $fourthColor;
}

html, body {
  overflow-x: hidden;
  font-size: 10px;
  font-family: $secondaryFont;
  color: $primaryColor;
}

body {
  position: relative;
  overflow-y: scroll;
  min-height: 500px;
}

h1, h2, h3, h4, h5 {
  font-family: $primaryFont;
  margin: 0.3em 0;
  font-weight: inherit;
  line-height: 1em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

h1 {font-size: 6.854em;}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

p {
  margin: 0.3em 0;
  line-height: 1.3em;
  letter-spacing: -0.05em;
}


.text__primary-font {
  font-family: $primaryFont;
}
.text__secondary-font {
  font-family: $secondaryFont;
}

.text__uppercase { text-transform: uppercase; }

.text__align-left { text-align: center; @include mappy-bp(med){ text-align: left; }}
.text__align-right { text-align: center; @include mappy-bp(med){ text-align: right; }}
.text__align-center { text-align: center; }

.text__size-xxlarge { font-size: 9em; }
.text__size-xlarge { font-size: 6em; }
.text__size-large { font-size: 4em; }
.text__size-med { font-size: 2.6em; }
.text__size-small { font-size: 1.5em; }
.text__size-xsmall { font-size: 0.8em; }


.text__padding-top { padding-top: 3em; }

a {
  color: $thirdColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

///////////////////////////////////////////////////////////
///--------------------- SVG --------------------- ///
//////////////////////////////////////////////////////////

svg.scroll-down {
  display: block;
  width: 4em;
  height: 4em;
  fill: $thirdColor;
}

svg.icons__contact {
  width: 2em;
  height: 2em;
  padding: 0.3em;
  transform: translateY(0.5em);
}


///////////////////////////////////////////////////////////
///---------------------IMAGES ----------------------- ///
//////////////////////////////////////////////////////////

img.image__infographic {
  width: 90%;
  height: auto;
}

///////////////////////////////////////////////////////////
///--------------------- COLORS --------------------- ///
//////////////////////////////////////////////////////////

.text__primary-color {
  color: $white;
}

.text__secondary-color {
  color: $secondaryColor;
}

.text__third-color {
  color: $thirdColor;
}

.text__fourth-color {
  color: $fourthColor;
}

.text__light {
  color: $lightGrey;
}

.__primary-color {
  background: $primaryColor;
}

.__secondary-color {
  background: $secondaryColor;
}

.__third-color {
  background: $thirdColor;
}

.__fourth-color {
  background: $fourthColor;
}

.__light {
  background: $lightGrey;
}


.hr {
  display: block;
  width: 100vw;
  margin: 0 auto;
  height: 1px;
  background: $transparent;
  border-bottom: 2px dashed lighten($secondaryColor, 10%);
}

.highlight__round {
  background: $fourthColor;
  padding: 0em 0.3em;
  border-radius: 50%;
}

blockquote {
  display: block;
  position: relative;
  padding: 1em;
  background: $gradientWhite;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  width: 100%;
  height: auto;
  margin: 2em 0;
  font-family: $secondaryFont;
  line-height: 1.3em;
  font-size: 2.5em;
  column-count: 1;
  border-left: 8px solid $fourthColor;
  letter-spacing: -0.05em;

  @include mappy-bp(med){
    column-count: 2;
    padding: 4em;
  }

  &:first-letter {
    float: left;
    line-height: 0.8em;
    font-size: 3em;
    padding: 4px 4px 0 0;

  }

  p.quote__credit {
    text-align: right;
    font-size: 1em;
    color: $thirdColor;
    text-transform: uppercase;
  }
}

///////////////////////////////////////////////////////////
///--------------------- SECTIONS --------------------- ///
//////////////////////////////////////////////////////////

.section {
  display: flex;
  position: relative;
  flex: auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: visible;

}

.section__full {
  height: 125vh;
}

.section__auto {
  min-height: 125vh;
  padding: 5em 0;

  @include mappy-bp(med){
    min-height: 125vh;
  }
}

.section__extended {
  min-height: 150vh;
  padding: 0 0 10em 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: index($absoluteElements, overlay);
}



///////////////////////////////////////////////////////////
///----------------------- GRID ----------------------- ///
//////////////////////////////////////////////////////////

body {
  display: flex;
  flex-flow: row;
}

.wrapper, .content {
  display: flex;
  flex-flow: column nowrap;
}

.wrapper {
  flex: 1;
  justify-content: space-between;
}

.grid, .grid__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  z-index: index($absoluteElements, content);
}

.grid__columns {
  flex-flow: row wrap;
  justify-content: center;
}

.grid__full {
  flex: 1;
  height: 100%;
  align-items: stretch;
  margin: 0;

}

.grid__nowrap {
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.col-1, .col-3, .col-4, .col-6, .col-12 {
  flex: 100%;
}

@include mappy-bp(med){
  .col-1 { flex: 12%; }
  .col-3 { flex: 25%; }
  .col-4 { flex: 32%; }
  .col-6 { flex: 50%; }
  .col-12 { flex: 100%; }
}


.item {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.item.__flex-end {
  align-items: flex-end;
}

.box {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


.profile-photo {
  display: block;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  padding: 1em;
  background: center center no-repeat;
  background-size: 150%;
  border-radius: 50%;

  &:hover {
    border: 5px $fourthColor solid;
  }

}



///////////////////////////////////////////////////////////
///----------------------- NAV ----------------------- ///
//////////////////////////////////////////////////////////

nav {
  display: flex;
  flex: 1;
}

.nav__main {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nav--align-right {
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;


  }

  a {
    line-height: 1em;
    margin: 0.3em 0;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid $transparent;
    font-size: 2em;
    color: $secondaryColor;

    &:hover {
      border-bottom: 3px solid $fourthColor;
      text-decoration: none;
    }
  }

}



///////////////////////////////////////////////////////////
///----------------------- HEADER ----------------------- ///
//////////////////////////////////////////////////////////

.header {
  display: flex;
  flex-flow: column nowrap;
}

.header__main {
  position: fixed;
  background: $transparent;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: index($absoluteElements, headerMain);
}

///////////////////////////////////////////////////////////
///----------------------- FOOTER ----------------------- ///
//////////////////////////////////////////////////////////

.footer {
  display: flex;
  flex-flow: column nowrap;
}

.footer__main {
  flex: 1 0 $footer__main-height;
}


///////////////////////////////////////////////////////////
///----------------------- BUTTONS ----------------------- ///
//////////////////////////////////////////////////////////

.button {
  display: flex;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 0.3em;
  font-family: $secondaryFont;
  font-size: 2em;
}

a.button__primary {
  background: none;
  text-transform: uppercase;
  color: $primaryColor;
  border: 1px solid $secondaryColor;
  text-decoration: none;

  &:hover {
    background: $primaryColor;
    color: $secondaryColor;
  }
}

///////////////////////////////////////////////////////////
///-------------------- MEDIA QUERIES ----------------- ///
//////////////////////////////////////////////////////////

.hide-on-small {
  display: none;

  @include mappy-bp(large){
    display: flex;
  }
}
.show-on-small {
  display: flex;
  @include mappy-bp(med){
    display: none;
  }
}


.__position-relative {
  position: relative;
}


///////////////////////////////////////////////////////////
///-------------------- ANIMATION --------------------- ///
//////////////////////////////////////////////////////////


.animated {
  opacity: 0;
  animation-duration: 800ms;
}

$animationDelay: 100ms;

//.animationDelay {
//  animation-delay: $animationDelay*1;
//}

.animationDelay.a { animation-delay: $animationDelay*1;  }
.animationDelay.b { animation-delay: $animationDelay*2;  }
.animationDelay.c { animation-delay: $animationDelay*3;  }
.animationDelay.d { animation-delay: $animationDelay*4;  }
.animationDelay.e { animation-delay: $animationDelay*5;  }
