// Colors

$black: hsla(0, 0, 0, 1);
$white: white;

$lightGrey: lighten($black, 95%);

$gradientWhite: linear-gradient(white, $lightGrey);

$primaryColor: $gradientWhite;
$secondaryColor: hsl(37, 100%, 5%);
$thirdColor: lighten($black, 50%);
$fourthColor: hsla(19, 100%, 50%, 1);

$opaqueWhite: hsla(0, 0%, 100%, 0.93);

$transparent: hsla(0 , 0, 0, 0);

//Fonts

$primaryFont: 'Oswald', helvetica, sans-serif;
$secondaryFont: Helvetica, sans-serif;

$cursiveFont: 'Pacifico', cursive;


//Sizing

$footer__main-height: 500px;


// Animation

$primaryTransition: all 200ms ease-in-out;


$breakpoints: (
        'small'     : 320px,
        'med'       : 640px,
        'large'     : 920px,
        'wide'      : 1200px,
        'mega'      : 1400px,
);